<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">

        <meta charset="UTF-8">
        <title>SpringBoot</title>

        <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}">
        <script th:src="@{/bootstrap/js/bootstrap.js}"></script>

        <link rel="stylesheet" th:href="@{/fontawesome/css/all.css}">
        <script th:src="@{/fontawesome/js/all.js}"></script>
    </head>

    <body>

        <header th:fragment="header">

            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#" th:text="SpringBoot"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link active" href="#">Home
                            <span class="sr-only">(current)</span>
                        </a>
                        <a class="nav-item nav-link" th:href="@{/form}">Crear Cliente</a>
                        <a class="nav-item nav-link" th:href="@{/listar}">Listar Cliente</a>
                    </div>
                </div>
            </nav>
            <div class="alert alert-success" th:if="${success != null}" th:text="${success}"></div>
            <div class="alert alert-warning" th:if="${warning != null}" th:text="${warning}"></div>
            <div class="alert alert-danger" th:if="${error != null}" th:text="${error}"></div>
        </header>

        <div class="container">

        </div>

        <footer class="container" th:fragment="footer">

        </footer>

    </body>
</html>