<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<table th:fragment="itemFactura" class="d-none text-center">

    <tbody id="plantillaItemFactura" class="text-center">
    <tr id="row_{ID}" class="text-center">
        <td class="d-none"><input type="hidden" value="{ID}" name="item_id[]"/></td>
        <td>{NOMBRE}</td>
        <td>{PRECIO}</td>
        <td><input type="number" value="1" name="cantidad[]" id="cantidad_{ID}" class="form-control"
                   onchange="itemsHelper.calcularImporte({ID}, {PRECIO}, this.value);"></td>
        <td><span id="totalImporte{ID}">0</span></td>
        <td><a href="#" onclick="itemsHelper.eliminarLineaFactura({ID});"><i class="fas fa-trash-alt"></i></a></td>

    </tr>

    </tbody>


</table>

</body>
</html>